CEEDS/RequestPermission/RequestPermission_v1.10_annotated.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:dl="https//eddie.energy/CIM/RequestPermission_v1.10.xsd" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https//eddie.energy/CIM/RequestPermission_v1.10.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="C:\Data" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="RequestPermission_Envelope" type="dl:RequestPermission_Envelope" />
  <xs:simpleType name="MeasurementPointID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeasurementPointID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasurementPointID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeasurementPointID_String">
    <xs:annotation>
      <xs:documentation>The coded identification of a domain covering a number of related objects, such as metering point, accounting point, etc.

In the ESMP context, it is an authorized issuing office that provides an agreed identification coding scheme for measurement point identification.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">MeteringPointType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="dl:MeasurementPointID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MarketEvaluationPoint" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketEvaluationPoint">
    <xs:annotation>
      <xs:documentation>The location where one or more products are measured. This may be a physical or virtual location.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:MeasurementPointID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A unique identification of the measurement point.

In the ESMP context, the "model authority" is defined as an authorized issuing office that provides an agreed identification coding scheme for market participant, domain, measurement point, resources (generator, lines, substations, etc.) identification.

Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context.
Global uniqueness is easily achieved by using a UUID for the mRID. It is strongly recommended to do this.
For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTime">
    <xs:annotation>
      <xs:documentation>In ESMP, the dateTime shall be expressed in UTC as YYYY-MM-DDThh:mm:ssZ.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">MessageDateTimeType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ReasonCode_String">
    <xs:annotation>
      <xs:documentation>The coded motivation of an act.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">ReasonCodeType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ecl:ReasonCodeTypeList" />
  </xs:simpleType>
  <xs:simpleType name="Status_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status_String">
    <xs:annotation>
      <xs:documentation>The identification of the status of an object.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ecl:StatusTypeList" />
  </xs:simpleType>
  <xs:complexType name="MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MktActivityRecord">
    <xs:annotation>
      <xs:documentation>Subclass of IEC61968: Common:ActivityRecord.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="createdDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.createdDateTime">
        <xs:annotation>
          <xs:documentation>Date and time this activity record has been created (different from the 'status.dateTime', which is the time of a status change of the associated object, if applicable).</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
        <xs:annotation>
          <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.type">
        <xs:annotation>
          <xs:documentation>Type of event resulting in this activity record.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">2</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID is unique within an exchange context. Global uniqueness is easily achieved by using a UUID,  as specified in RFC 4122, for the mRID. The use of UUID is strongly recommended.
For CIMXML data files in RDF syntax conforming to IEC 61970-552 Edition 1, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">3</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
        <xs:annotation>
          <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">4</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reason" type="dl:ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.reason">
        <xs:annotation>
          <xs:documentation>Reason for event resulting in this activity record, typically supplied when user initiated.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">5</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="dl:Status_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.status">
        <xs:annotation>
          <xs:documentation>Information on consequence of event resulting in this activity record.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">6</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ReasonText_String">
    <xs:annotation>
      <xs:documentation>The textual explanation of an act as a string of characters.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">ReasonTextType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="512" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Reason" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Reason">
    <xs:annotation>
      <xs:documentation>The motivation of an act.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="dl:ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Reason.code">
        <xs:annotation>
          <xs:documentation>The motivation of an act in coded form.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="dl:ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Reason.text">
        <xs:annotation>
          <xs:documentation>The textual explanation corresponding to the reason code.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ID_String">
    <xs:annotation>
      <xs:documentation>A code to uniquely distinguish one occurrence of an entity from another.

In the ESMP context, the code is defined either by:
- an emitting company that provides an agreed identification unique within a business context such as capacity auction identification, market agreement identification, etc.
- a party (originator of the exchange) that provides a unique identification in the framework of a business exchange such as document identification, time series identification, bid identification, ...</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">IdentificationType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Request_Permission" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission">
    <xs:annotation>
      <xs:documentation>Specific right or authorisation granted to individuals or entities to access certain resources, perform specific actions, or obtain certain privileges within a system or organisation.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="dl:ESMP_DateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="transmissionSchedule" type="xs:duration" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Permission.transmissionSchedule">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Permission.mRID">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">2</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketEvaluationPoint" type="dl:MarketEvaluationPoint" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.MarketEvaluationPoint">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MktActivityRecord" type="dl:MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.MktActivityRecord">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reason" type="dl:Reason" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.Reason">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeries" type="dl:TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.TimeSeries">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestPermission_Envelope" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_Envelope">
    <xs:annotation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="Position">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.creationDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader.creationDateTime">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.connectionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.connectionId">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.requestPermissionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.requestPermissionId">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">2</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.dataNeedId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataNeedId">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">3</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.region.connector" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Region.connector">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">4</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.region.country" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Region.country">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">5</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.documentType" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.documentType">
        <xs:annotation>
          <xs:documentation>A qualification of the type of document, comparable to the MessageTypeList in the CIM part of the message.

Note:
This is applicable if you have the need to know the content without having to open the complete document. DocumentType might contain messages not (yet) part of the MessageTypeList.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">6</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.finalCustomerId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.finalCustomerId">
        <xs:annotation>
          <xs:documentation>A qualification of the type of document, comparable to the MessageTypeList in the CIM part of the message.

Note:
This is applicable if you have the need to know the content without having to open the complete document. DocumentType might contain messages not (yet) part of the MessageTypeList.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">7</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.asset" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.asset">
        <xs:annotation>
          <xs:documentation>A qualification of the type of document, comparable to the MessageTypeList in the CIM part of the message.

Note:
This is applicable if you have the need to know the content without having to open the complete document. DocumentType might contain messages not (yet) part of the MessageTypeList.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">8</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.dataSourceId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataSourceId">
        <xs:annotation>
          <xs:documentation>A qualification of the type of document, comparable to the MessageTypeList in the CIM part of the message.

Note:
This is applicable if you have the need to know the content without having to open the complete document. DocumentType might contain messages not (yet) part of the MessageTypeList.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">9</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MarketDocument" type="dl:RequestPermission_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_Envelope.MarketDocument">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMPVersion_String">
    <xs:annotation>
      <xs:documentation>In ESMP, the coded value is restricted to digits.

A code that distinguishes one evolution of an identified object from another. Information about a specific object may be sent several times, each transmission being identified by a different version number.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">VersionType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]([0-9]){0,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageKind_String">
    <xs:annotation>
      <xs:documentation>The coded type of a document.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">MessageType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM100#PartyID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#PartyID_String">
    <xs:annotation>
      <xs:documentation>The identification of an actor in the energy market.

In the ESMP context, it is an authorized issuing office that provides an agreed identification coding scheme for market participant identification.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">PartyType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="dl:PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRoleKind_String">
    <xs:annotation>
      <xs:documentation>The identification of the role played by a party.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">RoleType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ProcessKind_String">
    <xs:annotation>
      <xs:documentation>The coded identification of the nature of process.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">ProcessType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#YMDHM_DateTime">
    <xs:annotation>
      <xs:documentation>In ESMP, the date and time is expressed as "YYYY-MM-DDThh:mmZ", which conforms with ISO 8601 UTC time zone. This date and time is without the seconds.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTimeInterval">
    <xs:annotation>
      <xs:documentation>This datatype enables to express the start date and time, and the end date and time of a time interval with a specific pattern. This pattern is the YYYY-MM-DDThh:mmZ.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">TimeIntervalType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Compound">Compound</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.start">
        <xs:annotation>
          <xs:documentation>The start date and time of the interval with a minute resolution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.end">
        <xs:annotation>
          <xs:documentation>The end date and time of the interval with a minute resolution.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestPermission_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_MarketDocument">
    <xs:annotation>
      <xs:documentation>An electronic document containing the information necessary to satisfy the requirements of a given business process.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>The unique identification of the document being exchanged within a business process flow.

In the ESMP context, the "model authority" is defined as a party (originator of the exchange) that provides an identification in the context of a business exchange such as document identification, ...

Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context.
Global uniqueness is easily achieved by using a UUID for the mRID. It is strongly recommended to do this.
For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
        <xs:annotation>
          <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="revisionNumber" type="dl:ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.revisionNumber">
        <xs:annotation>
          <xs:documentation>The identification of the version that distinguishes one evolution of a document from another.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">2</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="dl:MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.type">
        <xs:annotation>
          <xs:documentation>The coded type of a document. The document type describes the principal characteristic of the document.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">3</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.mRID" type="dl:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>The identification of a party in the energy market.

In the ESMP context, the "model authority" is defined as an authorized issuing office that provides an agreed identification coding scheme for market participant, domain, measurement point, resources (generator, lines, substations, etc.) identification.

Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context.
Global uniqueness is easily achieved by using a UUID for the mRID. It is strongly recommended to do this.
For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.
--- The MarketParticipant associated with an electronic document header.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">4</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRole.type">
        <xs:annotation>
          <xs:documentation>The identification of the role played by a market player.

--- The MarketParticipant associated with an electronic document header.
--- The role associated with a MarketParticipant.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">5</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="dl:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>The identification of a party in the energy market.

In the ESMP context, the "model authority" is defined as an authorized issuing office that provides an agreed identification coding scheme for market participant, domain, measurement point, resources (generator, lines, substations, etc.) identification.

Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context.
Global uniqueness is easily achieved by using a UUID for the mRID. It is strongly recommended to do this.
For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.
--- The MarketParticipant associated with an electronic document header.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">6</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRole.type">
        <xs:annotation>
          <xs:documentation>The identification of the role played by a market player.

--- The MarketParticipant associated with an electronic document header.
--- The role associated with a MarketParticipant.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">7</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="process.processType" type="dl:ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Process.processType">
        <xs:annotation>
          <xs:documentation>The identification of the nature of process that the document addresses.
--- The Process associated with an electronic document header that is valid for the whole document.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">8</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Request_Permission" type="dl:Request_Permission" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_MarketDocument.Request_Permission">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="period.timeInterval" type="dl:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Period.timeInterval">
        <xs:annotation>
          <xs:documentation>The start and end date and time for a given interval.

--- The time interval that is associated with an electronic document and which is valid for the whole document.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">10</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/CIM100#TimeSeries">
    <xs:annotation>
      <xs:documentation>A set of time-ordered quantities being exchanged in relation to a product.
In the ESMP profile, the TimeSeries provides not only time-ordered quantities but also time-ordered information.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>A unique identification of the time series.

In the ESMP context, the "model authority" is defined as a party (originator of the exchange) that provides a unique identification in the context of a business exchange such as time series identification, bid identification, ...

Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context.
Global uniqueness is easily achieved by using a UUID for the mRID. It is strongly recommended to do this.
For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>