CEEDS/RequestPermission/RequestPermission_v1.10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:dl="https//eddie.energy/CIM/RequestPermission_v1.10.xsd" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https//eddie.energy/CIM/RequestPermission_v1.10.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="C:\Data" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="RequestPermission_Envelope" type="dl:RequestPermission_Envelope" />
  <xs:simpleType name="MeasurementPointID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeasurementPointID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasurementPointID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeasurementPointID_String">
    <xs:simpleContent>
      <xs:extension base="dl:MeasurementPointID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MarketEvaluationPoint" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketEvaluationPoint">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:MeasurementPointID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ReasonCode_String">
    <xs:restriction base="ecl:ReasonCodeTypeList" />
  </xs:simpleType>
  <xs:simpleType name="Status_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Status_String">
    <xs:restriction base="ecl:StatusTypeList" />
  </xs:simpleType>
  <xs:complexType name="MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MktActivityRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="createdDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.createdDateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reason" type="dl:ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.reason">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="dl:Status_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ActivityRecord.status">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ReasonText_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="512" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Reason" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Reason">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="dl:ReasonCode_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Reason.code">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="dl:ReasonText_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Reason.text">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Request_Permission" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="createdDateTime" type="dl:ESMP_DateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="transmissionSchedule" type="xs:duration" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Permission.transmissionSchedule">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Permission.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketEvaluationPoint" type="dl:MarketEvaluationPoint" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.MarketEvaluationPoint">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MktActivityRecord" type="dl:MktActivityRecord" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.MktActivityRecord">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reason" type="dl:Reason" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.Reason">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeries" type="dl:TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Request_Permission.TimeSeries">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestPermission_Envelope" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_Envelope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.creationDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader.creationDateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.connectionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.connectionId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.requestPermissionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.requestPermissionId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.dataNeedId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataNeedId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.region.connector" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Region.connector">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.region.country" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Region.country">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.documentType" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.documentType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.finalCustomerId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.finalCustomerId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.asset" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.asset">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="messageDocumentHeader.metaInformation.dataSourceId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataSourceId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MarketDocument" type="dl:RequestPermission_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_Envelope.MarketDocument">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMPVersion_String">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]([0-9]){0,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageKind_String">
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM100#PartyID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#PartyID_String">
    <xs:simpleContent>
      <xs:extension base="dl:PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRoleKind_String">
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ProcessKind_String">
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#YMDHM_DateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTimeInterval">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.start">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.end">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestPermission_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="revisionNumber" type="dl:ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.revisionNumber">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="dl:MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.mRID" type="dl:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="dl:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="process.processType" type="dl:ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Process.processType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Request_Permission" type="dl:Request_Permission" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RequestPermission_MarketDocument.Request_Permission">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="period.timeInterval" type="dl:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Period.timeInterval">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/CIM100#TimeSeries">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>