IEC62746-4/IEC62746-4-1 Explicit/CommodityPriceExchange/CommodityPriceExchange.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:Prefix="m" xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:cimp="http://www.iec.ch/cimprofile" xmlns:TargetNamespace="http://IEC/62746" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://IEC/62746" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="CommodityPriceExchange_MarketDocument" type="TargetNamespace:CommodityPriceExchange_MarketDocument" />
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]([0-9]){0,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CommodityPriceExchange_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="TargetNamespace:ID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="TargetNamespace:MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Document.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="revisionNumber" type="TargetNamespace:ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Document.revisionNumber">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="createdDateTime" type="TargetNamespace:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Document.createdDateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Process" type="TargetNamespace:Process" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketDocument.Process">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Period" type="TargetNamespace:Time_Period" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketDocument.Period">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Domain" type="TargetNamespace:Domain" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketDocument.Domain">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Sender_MarketParticipant" type="TargetNamespace:MarketParticipant" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketDocument.MarketParticipant">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Receiver_MarketParticipant" type="TargetNamespace:MarketParticipant" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketDocument.MarketParticipant">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="CommodityDefinition_TimeSeries" type="TargetNamespace:TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketDocument.TimeSeries">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CurrencyCode_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="ecl:CurrencyTypeList" />
  </xs:simpleType>
  <xs:complexType name="Currency_Unit" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Unit">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="TargetNamespace:CurrencyCode_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Unit.name">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AreaID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:simpleContent>
      <xs:extension base="TargetNamespace:AreaID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Domain" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Domain">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="TargetNamespace:AreaID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:simpleContent>
      <xs:extension base="TargetNamespace:PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DSRI_MarketParticipant" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketParticipant">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="TargetNamespace:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DSRI_MarketRole" type="TargetNamespace:DSRI_MarketRole" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketParticipant.DSRI_MarketRole">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:complexType name="DSRI_MarketRole" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketRole">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="TargetNamespace:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketRole.type">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketParticipant" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketParticipant">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="TargetNamespace:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MarketRole" type="TargetNamespace:MarketRole" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketParticipant.MarketRole">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MarketProductKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="ecl:MarketProductTypeList" />
  </xs:simpleType>
  <xs:complexType name="MarketProduct" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketProduct">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="marketProductType" type="TargetNamespace:MarketProductKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketProduct.marketProductType">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketRole" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketRole">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="TargetNamespace:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketRole.type">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="ecl:UnitOfMeasureTypeList" />
  </xs:simpleType>
  <xs:complexType name="Measure_Unit" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Unit">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="TargetNamespace:MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Unit.name">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pnode" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Pnode">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Decimal">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Price" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Price">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="amount" type="TargetNamespace:Amount_Decimal" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Price.amount">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PriceDescriptor" type="TargetNamespace:PriceDescriptor" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Price.PriceDescriptor">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MarketType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#MarketType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DAM">
        <xs:annotation>
          <xs:documentation>Day ahead market.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HAM">
        <xs:annotation>
          <xs:documentation>Hour Ahead Market.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RTM">
        <xs:annotation>
          <xs:documentation>Real time market.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RUC">
        <xs:annotation>
          <xs:documentation>Residual Unit Commitment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PriceTypeKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#PriceTypeKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="capacity">
      </xs:enumeration>
      <xs:enumeration value="congestion">
      </xs:enumeration>
      <xs:enumeration value="delivery">
      </xs:enumeration>
      <xs:enumeration value="loss">
      </xs:enumeration>
      <xs:enumeration value="mileage">
      </xs:enumeration>
      <xs:enumeration value="system">
      </xs:enumeration>
      <xs:enumeration value="total">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PriceDescriptor" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#PriceDescriptor">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="marketType" type="TargetNamespace:MarketType" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#PriceDescriptor.marketType">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="priceType" type="TargetNamespace:PriceTypeKind" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#PriceDescriptor.priceType">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:complexType name="Process" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Process">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="processType" type="TargetNamespace:ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Process.processType">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ResourceID_String-base" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#String">
    <xs:simpleContent>
      <xs:extension base="TargetNamespace:ResourceID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="RegisteredResource" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#RegisteredResource">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="TargetNamespace:ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MarketParticipant" type="TargetNamespace:DSRI_MarketParticipant" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#RegisteredResource.MarketParticipant">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#DateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#DateTimeInterval">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="TargetNamespace:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#DateTimeInterval.start">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="TargetNamespace:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#DateTimeInterval.end">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Period">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="timeInterval" type="TargetNamespace:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Period.timeInterval">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Price" type="TargetNamespace:Price" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Period.Price">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Time_Period" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Period">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="timeInterval" type="TargetNamespace:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#Period.timeInterval">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimeSeries" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="TargetNamespace:ID_String" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#IdentifiedObject.description">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MarketProduct" type="TargetNamespace:MarketProduct" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries.MarketProduct">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RegisteredResource" type="TargetNamespace:RegisteredResource" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries.RegisteredResource">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Pnode" type="TargetNamespace:Pnode" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries.Pnode">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Domain" type="TargetNamespace:Domain" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries.Domain">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Currency_Unit" type="TargetNamespace:Currency_Unit" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries.Currency_Unit">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Measurement_Unit" type="TargetNamespace:Measure_Unit" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries.Measurement_Unit">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Period" type="TargetNamespace:Series_Period" sawsdl:modelReference="http://iec.ch/TC57/2010/CIM-schema-cim100#TimeSeries.Period">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>