CEEDs messages/RedistributionTransactionRequest/CEEDS_RedistributionTransactionRequestDocument_annotated_v1.12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:dl="https://eddie.energy/CEEDS_RedistributionTransactionRequest_Document_annotated_v1.12.xsd" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://eddie.energy/CEEDS_RedistributionTransactionRequest_Document_annotated_v1.12.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="RTR_Envelope" type="dl:RTR_Envelope" />
  <xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset">
    <xs:annotation>
      <xs:documentation>asset is an energy data space specific attribute referring to the Asset from which data is being requested</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="Position">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.type">
        <xs:annotation>
          <xs:documentation>type is an energy data space specific attribute that specifies type of asset refered to.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="operatorId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.operatorId">
        <xs:annotation>
          <xs:documentation>operatorId is an energy data space specific attribute that specifies the id operator of the asset refered to.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="meterId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Asset.meterId">
        <xs:annotation>
          <xs:documentation>meterId is an energy data space specific attribute that specifies the id of the meter that measures the asset.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">2</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTime">
    <xs:annotation>
      <xs:documentation>In ESMP, the dateTime shall be expressed in UTC as YYYY-MM-DDThh:mm:ssZ.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">MessageDateTimeType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageDocumentHeader" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader">
    <xs:annotation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="Position">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="SchemaVersion">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="creationDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader.creationDateTime">
        <xs:annotation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MetaInformation" type="dl:MetaInformation" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader.MetaInformation">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MetaInformation" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation">
    <xs:annotation>
      <xs:documentation>MetaInformation is an energy data space specific entity referring to the information concerning the technical and functional context of the MarketDocument.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="Position">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="SchemaVersion">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="connectionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.connectionId">
        <xs:annotation>
          <xs:documentation>connectionId is an energy data space specific attribute referring to the established connection used for the communication of this document.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="requestPermissionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.requestPermissionId">
        <xs:annotation>
          <xs:documentation>The requestPermissionId is energy data space specific identification attribute holding an unique identifier issued by the energy data space to allow for tracing of the permission through serveral message exchanges.
Note: the requestPermissionId is NOT the identifier issued by the Identity Service Provider as specified in the EU Implementing Act on access to Metering and Consumption Data.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dataNeedId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataNeedId">
        <xs:annotation>
          <xs:documentation>dataNeedId is an energy data space specific attribute holding the type of data need requested, like ‘last 24 hours at 1 hour interval”.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">2</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="documentType" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.documentType">
        <xs:annotation>
          <xs:documentation>documentType is an energy data space specific attribute referring to the type of document, comparable to the MessageTypeList in the CIM part of the message.
Note:
This is applicable if you have the need to know the content without having to open the complete document. DocumentType might contain messages not (yet) part of the MessageTypeList.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">3</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="finalCustomerId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.finalCustomerId">
        <xs:annotation>
          <xs:documentation>The finalCustomerId  is an energy data space specific attribute identifying the actor doing the request for data or data sharing.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">4</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dataSourceId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataSourceId">
        <xs:annotation>
          <xs:documentation>dataSourceId is an energy data space specific attribute referring to the datasource from which the requested data is being queried.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">5</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="defaultValues" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.defaultValues">
        <xs:annotation>
          <xs:documentation>defaultValues is a energy data space specific attribute to hold relevant default values. The format to use can freely be chosen based on the implementation. Most commonly you would expect a semi-colon separated name value pair, like: "minPower=value; maxPower=value; avgPower=value".</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">6</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="regionConnector" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.regionConnector">
        <xs:annotation>
          <xs:documentation>regionConnector is an energy data space specific attribute that specifies the regional connector being used to retrieve the data requested. </xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">7</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="regionCountry" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.regionCountry">
        <xs:annotation>
          <xs:documentation>regionCountry is an energy data space specific attribute that specifies the country where the regional connector is located.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">8</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="dl:Asset" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.Asset">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RTR_Envelope" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RTR_Envelope">
    <xs:annotation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="Position">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MarketDocument" type="dl:RTR_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RTR_Envelope.MarketDocument">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageDocumentHeader" type="dl:MessageDocumentHeader" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RTR_Envelope.MessageDocumentHeader">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ID_String">
    <xs:annotation>
      <xs:documentation>A code to uniquely distinguish one occurrence of an entity from another.

In the ESMP context, the code is defined either by:
- an emitting company that provides an agreed identification unique within a business context such as capacity auction identification, market agreement identification, etc.
- a party (originator of the exchange) that provides a unique identification in the framework of a business exchange such as document identification, time series identification, bid identification, ...</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">IdentificationType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#YMDHM_DateTime">
    <xs:annotation>
      <xs:documentation>In ESMP, the date and time is expressed as "YYYY-MM-DDThh:mmZ", which conforms with ISO 8601 UTC time zone. This date and time is without the seconds.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTimeInterval">
    <xs:annotation>
      <xs:documentation>This datatype enables to express the start date and time, and the end date and time of a time interval with a specific pattern. This pattern is the YYYY-MM-DDThh:mmZ.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">TimeIntervalType</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Compound">Compound</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.start">
        <xs:annotation>
          <xs:documentation>The start date and time of the interval with a minute resolution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.end">
        <xs:annotation>
          <xs:documentation>The end date and time of the interval with a minute resolution.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RTR_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RTR_MarketDocument">
    <xs:annotation>
      <xs:documentation>An electronic document containing the information necessary to satisfy the requirements of a given business process.</xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessProcessRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="businessTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="definition">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="dictionaryEntryName">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="example">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="geopoliticalOrRegionContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="industryContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassQualifierTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="objectClassTerm">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="officialConstraintContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="productContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="supportingRoleContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="systemCapabilitiesContextValue">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="uniqueID">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="usageRule">
      </xs:documentation>
      <xs:documentation cimp:category="TagValue" cimp:subcategory="version">
      </xs:documentation>
      <xs:documentation cimp:category="Stereotype">MBIE</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>The unique identification of the document being exchanged within a business process flow.

In the ESMP context, the "model authority" is defined as a party (originator of the exchange) that provides an identification in the context of a business exchange such as document identification, ...

Master resource identifier issued by a model authority. The mRID is globally unique within an exchange context.
Global uniqueness is easily achieved by using a UUID for the mRID. It is strongly recommended to do this.
For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">0</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="period.timeInterval" type="dl:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Period.timeInterval">
        <xs:annotation>
          <xs:documentation>The start and end date and time for a given interval.

--- The time interval that is associated with an electronic document and which is valid for the whole document.</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ESMPRG">1</xs:documentation>
          <xs:documentation cimp:category="TagValue" cimp:subcategory="ETSOBusinessTerm">
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>