CEEDs messages/INSIEME/ReferenceEnergyCurveMinMaxOperatingEnveloppe v1.21.28/CEEDS_ReferenceEnergyCurveMinMaxOperatingEnvelopeDocument_v1.12.28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecl="urn:entsoe.eu:wgedi:codelists" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:dl="https://insieme.energy/CEEDS_ReferenceEnergyCurveMinMaxOperatingEnvelopeDocument_v1.12.28" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://insieme.energy/CEEDS_ReferenceEnergyCurveMinMaxOperatingEnvelopeDocument_v1.12.28" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="c:\data\urn-entsoe-eu-wgedi-codelists.xsd" namespace="urn:entsoe.eu:wgedi:codelists" />
  <xs:element name="RECMMOE_Envelope" type="dl:RECMMOE_Envelope" />
  <xs:complexType name="EnvAsset" sawsdl:modelReference="http://iec.ch/TC57/CIM100#EnvAsset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#EnvAsset.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="operatorId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#EnvAsset.operatorId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="meterId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#EnvAsset.meterId">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MessageDocumentHeader" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="creationDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader.creationDateTime">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MetaInformation" type="dl:MetaInformation" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageDocumentHeader.MetaInformation">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MetaInformation" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="connectionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.connectionId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="requestPermissionId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.requestPermissionId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dataNeedId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataNeedId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="documentType" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.documentType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="finalCustomerId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.finalCustomerId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dataSourceId" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.dataSourceId">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="defaultValues" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.defaultValues">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="regionConnector" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.regionConnector">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="regionCountry" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.regionCountry">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EnvAsset" type="dl:EnvAsset" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MetaInformation.EnvAsset">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Position_Integer">
    <xs:restriction base="xs:integer">
      <xs:maxInclusive value="999999" />
      <xs:minInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Point" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Point">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="position" type="dl:Position_Integer" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Point.position">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Quantity" type="dl:Quantity" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Point.Quantity">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Quality_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Quality_String">
    <xs:restriction base="ecl:QualityTypeList" />
  </xs:simpleType>
  <xs:simpleType name="CommodityDirectionKind" sawsdl:modelReference="http://iec.ch/TC57/CIM100#CommodityDirectionKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="consumption" />
      <xs:enumeration value="consumptionDecrease" />
      <xs:enumeration value="consumptionIncrease" />
      <xs:enumeration value="production" />
      <xs:enumeration value="productionDecrease" />
      <xs:enumeration value="productionIncrease" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MeasurementUnitKind_String">
    <xs:restriction base="ecl:UnitOfMeasureTypeList" />
  </xs:simpleType>
  <xs:complexType name="Quantity" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Quantity">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="quantity" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Quantity.quantity">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quality" type="dl:Quality_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Quantity.quality">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Quantity.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quantityDefinition.mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quantityDefinition.quantityType" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#QuantityDefinition.quantityType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quantityDefinition.commodityFlowOccurence" type="dl:CommodityDirectionKind" sawsdl:modelReference="http://iec.ch/TC57/CIM100#QuantityDefinition.commodityFlowOccurence">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quantityDefinition.quantityQualifier" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#QuantityDefinition.quantityQualifier">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="quantityDefinition.measure_Unit.name" type="dl:MeasurementUnitKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Unit.name">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RECMMOE_Envelope" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RECMMOE_Envelope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MessageDocumentHeader" type="dl:MessageDocumentHeader" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RECMMOE_Envelope.MessageDocumentHeader">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RECMMOE_MarketDocument" type="dl:RECMMOE_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RECMMOE_Envelope.RECMMOE_MarketDocument">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMPVersion_String">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9]([0-9]){0,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MessageKind_String">
    <xs:restriction base="ecl:MessageTypeList" />
  </xs:simpleType>
  <xs:simpleType name="PartyID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM100#PartyID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#PartyID_String">
    <xs:simpleContent>
      <xs:extension base="dl:PartyID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRoleKind_String">
    <xs:restriction base="ecl:RoleTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ProcessKind_String">
    <xs:restriction base="ecl:ProcessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#YMDHM_DateTime">
    <xs:restriction base="xs:string">
      <xs:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ESMP_DateTimeInterval">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="start" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.start">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="end" type="dl:YMDHM_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DateTimeInterval.end">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RECMMOE_MarketDocument" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RECMMOE_MarketDocument">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="revisionNumber" type="dl:ESMPVersion_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.revisionNumber">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="dl:MessageKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="createdDateTime" type="dl:ESMP_DateTime" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Document.createdDateTime">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.mRID" type="dl:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="sender_MarketParticipant.name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="sender_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.mRID" type="dl:PartyID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="receiver_MarketParticipant.name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="receiver_MarketParticipant.marketRole.type" type="dl:MarketRoleKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#MarketRole.type">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="process.processType" type="dl:ProcessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Process.processType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="time_Period.timeInterval" type="dl:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Period.timeInterval">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeries_Series" type="dl:TimeSeries_Series" sawsdl:modelReference="http://iec.ch/TC57/CIM100#RECMMOE_MarketDocument.TimeSeries_Series">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Series" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Series">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Period" type="dl:Series_Period" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Series.Period">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Series_Period" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Series_Period">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="resolution" type="xs:duration" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Period.resolution">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Point" type="dl:Point" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Series_Period.Point">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="timeInterval" type="dl:ESMP_DateTimeInterval" sawsdl:modelReference="http://iec.ch/TC57/CIM100#Period.timeInterval">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#BusinessKind_String">
    <xs:restriction base="ecl:BusinessTypeList" />
  </xs:simpleType>
  <xs:simpleType name="CurveType_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#CurveType_String">
    <xs:restriction base="ecl:CurveTypeList" />
  </xs:simpleType>
  <xs:simpleType name="DirectionKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#DirectionKind_String">
    <xs:restriction base="ecl:DirectionTypeList" />
  </xs:simpleType>
  <xs:simpleType name="ResourceID_String-base" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ResourceID_String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ResourceID_String">
    <xs:simpleContent>
      <xs:extension base="dl:ResourceID_String-base">
        <xs:attribute name="codingScheme" type="ecl:CodingSchemeTypeList" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TimeSeries_Series" sawsdl:modelReference="http://iec.ch/TC57/CIM100#TimeSeries_Series">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="mRID" type="dl:ID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="businessType" type="dl:BusinessKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#TimeSeries.businessType">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="curveType" type="dl:CurveType_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#TimeSeries.curveType">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="flowDirection.direction" type="dl:DirectionKind_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#FlowDirection.direction">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="resourceTimeSeries.value1ScheduleType" type="dl:CommodityDirectionKind" sawsdl:modelReference="http://iec.ch/TC57/CIM100#ResourceTimeSeries.value1ScheduleType">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="registeredResource.mRID" type="dl:ResourceID_String" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.mRID">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="registeredResource.name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.name">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="registeredResource.description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/CIM100#IdentifiedObject.description">
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Series" type="dl:Series" sawsdl:modelReference="http://iec.ch/TC57/CIM100#TimeSeries_Series.Series">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>